<div class="search d-flex">
  <input matInput placeholder="Введите тэг" (ngModelChange)="tegInput($event)" type="text" [(ngModel)]="textInput">

  <button mat-raised-button color="primary" [disabled]="!loadButton" (click)="search()">{{buttonValue}}</button>

  <button mat-raised-button color="warn" (click)="clear()">Очистить</button>

  <ng-container *ngIf="groupBoolean">
    <button mat-raised-button color="accent" (click)="group(); groupBoolean = !groupBoolean">Группировать</button>
  </ng-container>

  <ng-container *ngIf="!groupBoolean">
    <button mat-raised-button color="accent" (click)="unGroup(); groupBoolean = !groupBoolean">Разгруппировать</button>
  </ng-container>

</div>

<ng-container *ngIf="gifsGroupArr?.length === 0">
  <div class="wrapper-gif" *ngIf="gifs && gifs.length > 0">
    <ng-container *ngFor="let gif of gifs">
      <div class="gif" (click)="editTag(gif.myType)" [style.background-image]="'url(' + gif.image_url + ')'"></div>
    </ng-container>
  </div>
</ng-container>


<ng-container *ngIf="gifsGroupArr?.length !== 0">

  <div class="wrapper-group" *ngFor="let gifs of gifsGroupArr">


    <!-- <ng-container *ngFor="let gif of gifs">{{gif.myType}}</ng-container> -->
    {{gifs[0].myType}}
    <div class="wrapper-gif" *ngIf="gifs && gifs.length > 0">

      <ng-container *ngFor="let gif of gifs">
        <div class="border gif">
          <div class="gif" (click)="editTag(gif.myType)" [style.background-image]="'url(' + gif.image_url + ')'"></div>
        </div>
      </ng-container>
    </div>


  </div>

</ng-container>
